<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="pragma" content="no-cache" />
    <base href="TouristApp.Frontend"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="TouristApp.Blazor.styles.css"/>
    <HeadOutlet/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="https://api-maps.yandex.ru/2.1/?apikey=3ee77b6e-b7ee-4958-b7c6-0e86b9fafd99&lang=ru_RU" type="text/javascript"></script>
<script src="_framework/blazor.web.js"></script>
<!--<script src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A053bd947d462cc1a45aeba4070defff75501905071c0eaf68436ac9976ec698c&amp;width=514&amp;height=326&amp;id=map&amp;lang=ru_RU&amp;apikey=3ee77b6e-b7ee-4958-b7c6-0e86b9fafd99&lang=ru_RU" type="text/javascript"></script>-->
<script src="js/pinpointMapScript.js"></script>
<script src="js/routeMapScript.js"></script>
<script src="js/searchMapScript.js"></script>
<script src="js/geoLocationJsInterop.js"></script>
<script src="js/navigatorMapScript.js"></script>
</body>

</html>