.untitled-page3.editDataSection {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.untitled-page3 .editContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px 0;
  margin: 72px auto 71px;
  width: 1204.984375px;
  max-width: 85%;
}
@media (max-width: 383px) {
  .untitled-page3 .editContentWrapper {
    margin: 50px auto;
  }
}
.untitled-page3 .pageHeading {
  font: 900 36px/1.22 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .pageHeading {
    align-items: flex-start;
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .pageHeading {
    font-size: 30px;
  }
}
.untitled-page3 .editColumnsContainer {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 100%;
}
@media (max-width: 991px) {
  .untitled-page3 .editColumnsContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.untitled-page3 .pointEditColumn {
  display: flex;
  flex-direction: column;
  margin: 0 0 250px;
  width: 529px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page3 .pointEditColumn {
    margin: 0;
    width: 100%;
    min-width: unset;
  }
}
.untitled-page3 .selectPointHeading {
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .selectPointHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .selectPointHeading {
    font-size: 26px;
  }
}
.untitled-page3 .pointSelector {
  margin: 19px 0 0;
  min-height: 41px;
  background-color: white;
}
.untitled-page3 .coordinatesHeading {
  margin: 19px 0 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .coordinatesHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .coordinatesHeading {
    font-size: 26px;
  }
}
.untitled-page3 .latitudeInput {
  z-index: 2;
  margin: 14px 0 0;
  min-height: 41px;
  background-color: white;
}
.untitled-page3 .longitudeInput {
  z-index: 4;
  margin: 19px 0 0;
  min-height: 41px;
  background-color: white;
}
.untitled-page3 .pointNameHeading {
  margin: 8px 0 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .pointNameHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .pointNameHeading {
    font-size: 26px;
  }
}
.untitled-page3 .pointNameInput {
  z-index: 1;
  margin: 12px 0 0;
  min-height: 41px;
  background-color: white;
}
.untitled-page3 .pointDescriptionHeading {
  margin: 4px 0 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .pointDescriptionHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .pointDescriptionHeading {
    font-size: 26px;
  }
}
.untitled-page3 .pointDescriptionInput {
  margin: 11px 0 0;
  min-height: 42px;
  background-color: white;
}
.untitled-page3 .savePointBtn {
  display: flex;
  justify-content: center;
  margin: 37px 0 0;
  width: 82.8%;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
  text-align: center;
  background-color: #9fcc56;
  border-radius: 24px;
  padding: 13px 22px;
}
.untitled-page3 .pathCategoryEditColumn {
  display: flex;
  flex-direction: column;
  width: 634px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page3 .pathCategoryEditColumn {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page3 .selectPathHeading {
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .selectPathHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .selectPathHeading {
    font-size: 26px;
  }
}
.untitled-page3 .pathSelector {
  margin: 19px 0 0 1px;
  width: 529px;
  max-width: 85%;
  min-height: 41px;
  background-color: white;
}
.untitled-page3 .pathNameHeading {
  z-index: 3;
  margin: 15px 1px 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .pathNameHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .pathNameHeading {
    font-size: 26px;
  }
}
.untitled-page3 .pathNameInput {
  z-index: 4;
  margin: 15px 0 0 1px;
  width: 529px;
  max-width: 85%;
  min-height: 41px;
  background-color: white;
}
.untitled-page3 .pathDescriptionHeading {
  z-index: 3;
  margin: 14px 1px 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .pathDescriptionHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .pathDescriptionHeading {
    font-size: 26px;
  }
}
.untitled-page3 .pathDescriptionInput {
  z-index: 3;
  margin: 11px 0 0 1px;
  width: 529px;
  max-width: 85%;
  min-height: 41px;
  background-color: white;
}
.untitled-page3 .savePathBtn {
  z-index: 3;
  display: flex;
  justify-content: center;
  margin: 37px 0 0 1px;
  width: 441px;
  max-width: 100%;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
  text-align: center;
  background-color: #9fcc56;
  border-radius: 24px;
  padding: 13px 24px;
}
.untitled-page3 .selectCategoryHeading {
  margin: 18px 0 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .selectCategoryHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .selectCategoryHeading {
    font-size: 26px;
  }
}
.untitled-page3 .categorySelector {
  margin: 18px 0 0 1px;
  width: 529px;
  max-width: 85%;
  min-height: 42px;
  background-color: white;
}
.untitled-page3 .categoryNameHeading {
  z-index: 1;
  margin: 5px 0 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .categoryNameHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .categoryNameHeading {
    font-size: 26px;
  }
}
.untitled-page3 .categoryNameInput {
  z-index: 2;
  margin: 14px 0 0;
  min-height: 41px;
  background-color: white;
}
.untitled-page3 .categoryDescriptionHeading {
  z-index: 1;
  margin: 14px 0 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .untitled-page3 .categoryDescriptionHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page3 .categoryDescriptionHeading {
    font-size: 26px;
  }
}
.untitled-page3 .categoryDescriptionInput {
  z-index: 1;
  margin: 11px 0 0;
  min-height: 42px;
  background-color: white;
}
.untitled-page3 .saveCategoryBtn {
  display: flex;
  justify-content: center;
  margin: 17px 0 0;
  width: 437px;
  max-width: 100%;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
  text-align: center;
  background-color: #9fcc56;
  border-radius: 24px;
  padding: 13px 22px;
}