@using System.Globalization
@using System.Text.Json
@using TouristApp.Blazor.Models
@using TouristApp.Blazor.Models.Pinpoints
@using TouristApp.Blazor.Services.Categories
@using TouristApp.Blazor.Services.GeoLocationBroker
@using TouristApp.Blazor.Services.PinpointCategoryService
@using TouristApp.Blazor.Services.Pinpoints
@using TouristApp.Blazor.Services.Routes
@using TouristApp.Blazor.Services.TouristRoutes
@using TouristApp.Blazor.Utils
@implements IDisposable
@inject ITouristRouteService TouristRouteService
@inject IRouteService RouteService
@inject IJSRuntime JS
@inject ICategoryService CategoryService
@inject IPinpointCategoryService PinpointCategoryService
@inject IPinpointService PinpointService
@inject IGeoLocationBroker GeoLocationBroker

@if (_isDataLoaded)
{
    <aside id="searchMap" style="width: 100%; height:500px; overflow: hidden; position: relative"></aside>
    <form>
        <div class="input-group mb-3">
            <span class="input-group-text">Маршруты</span>
            <input list="suggested-routes" class="form-control" placeholder="Введите название маршрута..." type="search" spellcheck="true" @bind="_searchedRoute.Name">
            <small class="form-text text-muted">Для корректного поиска необходимо испольовать автозаполнение</small>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="firstCoordsSpan">Координаты первой точки*</span>
            <input class="form-control" id="firstCoords" placeholder="Координаты: X.xxxxxx, Y.yyyyyy" type="text" @bind-value="@_firstPinpointToBuild" autocomplete="off">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" @bind="_isGeoSelected">
            <label class="form-check-label" for="flexCheckDefault">
                Воспользоватся гео данными для первой точки
            </label>
        </div>
        <div class="input-group mb-3">
            <div class="btn-group">
                <button class="btn btn-primary" type="button" @onclick="BuildRouteHandler">
                    Построить
                </button>
            </div>
        </div>
        <datalist id="suggested-routes">
            @for (int i = 0; i < _suggestedRoutes.Length && i != 5; i++)
            {
                <option value="@_suggestedRoutes[i].Name"></option>
            }
        </datalist>
    </form>
}

@code {
    private CancellationTokenSource _cts;
    
    private string _firstPinpointToBuild;
    
    private Route _searchedRoute;

    private Category[] _categories;
    private Category _searchedCategory;

    private Route[] _suggestedRoutes;
    
    private bool _isDataLoaded;
    private bool _isDisposed;
    private bool _isGeoSelected;

    private Coordinate _geoCoordinates;

    async protected override Task OnInitializedAsync() {
        _firstPinpointToBuild = string.Empty;
        
        _searchedRoute = new Route()
        {
            Id = Guid.Empty,
            Name = string.Empty,
            Description = string.Empty
        };

        _categories = await CategoryService.GetAll();

        _searchedCategory = new Category()
        {
            Id = Guid.Empty,
            Name = string.Empty,
            Description = string.Empty
        };

        _suggestedRoutes = await RouteService.GetAll();

        _isDataLoaded = true;
    }

    async protected override Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender && !_isDisposed)
        {
            _cts?.Dispose();
            _cts = new CancellationTokenSource();

            try
            {
                await Task.Delay(1000);
                await JS.InvokeVoidAsync("initSearchMap", _cts.Token);
            }
            catch (OperationCanceledException)
            {

            }
            catch (NullReferenceException)
            {

            }
            catch (JSDisconnectedException)
            {
                
            }
        }
    }
    
    private async Task BuildRouteHandler() {
        var route = _suggestedRoutes
            .FirstOrDefault(r => r.Name == _searchedRoute.Name);

        if (route is not null)
        {
            if (_firstPinpointToBuild != string.Empty)
            {
                await BuildRoute(route.Id, _firstPinpointToBuild);
                return;
            }

            await BuildRoute(route.Id);
        }
    }
    
    private async Task BuildRoute(Guid routeId , string? firstPinpoint = null) {
        var route = await RouteService.Get(routeId);

        var touristRoutes = (await TouristRouteService.GetAll())
            .Where(tr => tr.RouteId == route.Id);

        if (touristRoutes.Count() < 2)
        {
            return;
        }
        
        var pinPoints = new List<JSPinpoint>();

        if (firstPinpoint is not null && !_isGeoSelected)
        {
            string[] firstPinpointCoords = _firstPinpointToBuild.Trim().Split(','); 
            var jsPinpoint = new JSPinpoint()
            {
                Coords = new[]
                { 
                    Convert.ToDecimal(firstPinpointCoords[0], CultureInfo.InvariantCulture), 
                    Convert.ToDecimal(firstPinpointCoords[1], CultureInfo.InvariantCulture)
                },
                Images = new[] { "" },
                Info = "Маршрут от первой точки"
            };
            pinPoints.Add(jsPinpoint);
        }

        if (firstPinpoint is null && _isGeoSelected)
        {
            var firstPinpointGeo = new JSPinpoint()
            {
                Images = new[] { "" },
                Info = "Маршрут от первой точки"
            };
            firstPinpointGeo.Coords = new decimal[2];
            
            GeoLocationBroker.CoordinatesChanged += async coordinate =>
            {
                firstPinpointGeo.Coords[1] = coordinate.Longitude;
                firstPinpointGeo.Coords[0] = coordinate.Latitude;
                    
                pinPoints.Add(firstPinpointGeo);
                    
                foreach (var touristRoute in touristRoutes)
                {
                    var pinpoint = await PinpointService.Get(touristRoute.PinpointId);
                    var jsPinpoint = Mapper.MapJsPinpoint(pinpoint);

                    if (!string.IsNullOrEmpty(pinpoint.AudioUrl))
                    {
                        jsPinpoint.Info += "\n\n<audio controls=\"controls\">\n       " +
                                           $"     <source src=\"{pinpoint.AudioUrl}\" type=\"audio/mp3\">\n        </audio>";
                    }
            
                    pinPoints.Add(jsPinpoint);
                }

                pinPoints = pinPoints.ToArray().OrderByCoords().ToList();
        
                await JS.InvokeVoidAsync("buildSearchMapRoute", JsonSerializer.Serialize(pinPoints));
            };
            
            await GeoLocationBroker.RequestGeoLocationAsync();
            return;
        }
        
        foreach (var touristRoute in touristRoutes)
        {
            var pinpoint = await PinpointService.Get(touristRoute.PinpointId);
            var jsPinpoint = Mapper.MapJsPinpoint(pinpoint);

            if (!string.IsNullOrEmpty(pinpoint.AudioUrl))
            {
                jsPinpoint.Info += "\n\n<audio controls=\"controls\">\n       " +
                                   $"     <source src=\"{pinpoint.AudioUrl}\" type=\"audio/mp3\">\n        </audio>";
            }
            
            pinPoints.Add(jsPinpoint);
        }

        pinPoints = pinPoints.ToArray().OrderByCoords().ToList();
        
        await JS.InvokeVoidAsync("buildSearchMapRoute", JsonSerializer.Serialize(pinPoints));
    }

    public async void Dispose() {
        _isDisposed = true;
        
        await JS.InvokeVoidAsync("destroyMap");
        
        _cts?.Cancel();
        _cts?.Dispose();
        
        _cts = null;
    }
}