@page "/Home"

<PageTitle>Home</PageTitle>

<p>Сайт представляет собой интерфейс с добавления новых точек, формирования маршрутов по этим точкам на картах и их визуализация. Пользователи имеют возможность использовать заранее заложенные маршруты или создавать и сохранять собственные. Карта, маршруты и точки на ней визуализируются с помощью Yandex API. </p>
