.test.routePlannerSection {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.test .contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 32px auto 24px;
  width: 93.4%;
  max-width: 1344.9573974609px;
}
@media (max-width: 991px) {
  .test .contentWrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.test .leftSidebar {
  margin: 0 0 8px;
  width: 697px;
  min-height: 960px;
  background-color: white;
}
@media (max-width: 991px) {
  .test .leftSidebar {
    margin: 0;
    width: 100%;
  }
}
.test .mainContent {
  display: flex;
  flex-direction: column;
  width: 616px;
  min-width: 0;
}
@media (max-width: 991px) {
  .test .mainContent {
    width: 100%;
    min-width: unset;
  }
}
.test .readyRouteContainer {
  display: flex;
  flex-direction: column;
  gap: 2px 0;
}
.test .readyRouteHeading {
  font: 900 36px/1.22 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .test .readyRouteHeading {
    align-items: flex-start;
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .test .readyRouteHeading {
    font-size: 30px;
  }
}
.test .routeListHeading {
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .test .routeListHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .test .routeListHeading {
    font-size: 26px;
  }
}
.test .customRouteContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0;
}
.test .customRouteBackground {
  z-index: 2;
  min-height: 40px;
  background-color: white;
  border-radius: 8px;
  outline: 1px solid #d9d9d9;
  outline-offset: -0.5px;
}
.test .createCustomHeading {
  margin: 10px 0 0;
  font: 900 36px/1.22 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .test .createCustomHeading {
    align-items: flex-start;
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .test .createCustomHeading {
    font-size: 30px;
  }
}
.test .coordinatesHeading {
  margin: 3px 0 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .test .coordinatesHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .test .coordinatesHeading {
    font-size: 26px;
  }
}
.test .pointNameContainer {
  display: flex;
  flex-direction: column;
  margin: 11px 0 0;
}
.test .pointNameBackground {
  z-index: 1;
  min-height: 40px;
  background-color: white;
  border-radius: 8px;
  outline: 1px solid #d9d9d9;
  outline-offset: -0.5px;
}
.test .pointNameInputBackground {
  z-index: 1;
  margin: 13px 0 0;
  min-height: 40px;
  background-color: white;
  border-radius: 8px;
  outline: 1px solid #d9d9d9;
  outline-offset: -0.5px;
}
.test .pointNameHeading {
  margin: 11px 0 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .test .pointNameHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .test .pointNameHeading {
    font-size: 26px;
  }
}
.test .descriptionContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 3px 0;
  margin: 11px 0 0;
}
.test .descriptionBackground {
  z-index: 1;
  min-height: 40px;
  background-color: white;
  border-radius: 8px;
  outline: 1px solid #d9d9d9;
  outline-offset: -0.5px;
}
.test .descriptionHeading {
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .test .descriptionHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .test .descriptionHeading {
    font-size: 26px;
  }
}
.test .categoryContainer {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin: 9px 0 0;
}
.test .categoryBackground {
  z-index: 1;
  min-height: 40px;
  background-color: white;
  border-radius: 8px;
  outline: 1px solid #d9d9d9;
  outline-offset: -0.5px;
}
.test .categoryIdHeading {
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .test .categoryIdHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .test .categoryIdHeading {
    font-size: 26px;
  }
}
.test .setPointBackground {
  z-index: 1;
  margin: 7px 0 0;
  min-height: 40px;
  background-color: white;
  border-radius: 8px;
  outline: 1px solid #d9d9d9;
  outline-offset: -0.5px;
}
.test .setPointBtn {
  z-index: 2;
  display: flex;
  justify-content: center;
  margin: 21px 0 0;
  width: 380px;
  max-width: 100%;
  font: 400 36px/1 Inter, Helvetica, Arial, serif;
  color: #f6f6f6;
  text-align: center;
  background-color: #9fcc56;
  border-radius: 24px;
  padding: 13.5px 36px;
  transition-duration: 0.3s;
  transition-property: transform;
}
.test .setPointBtn:hover {
  transform: scale(1.1);
}
.test .routeInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 3px 0 0;
}
.test .routeNameHeading {
  margin: 0 2px;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .test .routeNameHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .test .routeNameHeading {
    font-size: 26px;
  }
}
.test .routeNameInputBackground {
  z-index: 1;
  margin: 11px 0 0;
  min-height: 40px;
  background-color: white;
  border-radius: 8px;
  outline: 1px solid #d9d9d9;
  outline-offset: -0.5px;
}
.test .routeDescriptionHeading {
  margin: 1px 0 0;
  font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  color: #f6f6f6;
}
@media (max-width: 991px) {
  .test .routeDescriptionHeading {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .test .routeDescriptionHeading {
    font-size: 26px;
  }
}
.test .routeDescriptionInputBackground {
  margin: 11px 0 0;
  min-height: 40px;
  background-color: white;
  border-radius: 8px;
  outline: 1px solid #d9d9d9;
  outline-offset: -0.5px;
}
.test .saveRouteBtn {
  display: flex;
  justify-content: center;
  margin: 19px 0 0;
  font: 400 36px/1 Inter, Helvetica, Arial, serif;
  color: #f6f6f6;
  text-align: center;
  background-color: #9fcc56;
  border-radius: 24px;
  padding: 13.5px 8px;
  transition-duration: 0.3s;
  transition-property: transform;
}
.test .saveRouteBtn:hover {
  transform: scale(1.1);
}